<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xóa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Xóa thành phố</h2>
    <form method="post">
        <table class="table table-striped">
            <tr>
                <td>Bán có chắc chắn muốn xóa Thành Phố:</td>
                <td th:text="${city.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit">  <a href="/">Thoát</a></td>
            </tr>
        </table>
    </form>
</body>
</html>