<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<a href="/create">Add City</a>
    <table class="table table-striped">
        <tr>
            <td></td>
            <td>City</td>
            <td>Country</td>
            <td></td>
        </tr>
        <tr th:each="city,something: ${cityList}">
            <td th:text="${something.index +1}"></td>
            <td><a th:href="@{/view(id=${city.id})}" th:text="${city.name}"></a></td>
            <td th:text="${city.country.name}"></td>
            <td><a th:href="@{/edit(id=${city.id})}">Edit</a>|<a th:href="@{/delete(id=${city.id})}">Delete</a></td>
        </tr>
    </table>
</body>
</html>